
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/kapakana');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Muara';
    src: url('../fonts/muara.ttf') format('truetype');
}


body{
    margin: 0;
    padding: 0;
    
}

.background {
    background-image: url(../img/lana25.jpg);
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-size: cover; 
    background-color: aliceblue;
    width: 100%;
    height: 600px;

}

.select {
    color: white;
    font-family: "Afacad Flux", sans-serif; 
    font-size: 20px;
}

#slt_tema {
    border-radius: 10px;
    font-size: 15px;
    font-family: "Afacad Flux", sans-serif;  
    background-color: lightblue;
    
}

.navbar {
    padding: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    font-family: "Afacad Flux", sans-serif;
    color: white ;
    width: 40%; 
    
}

.titulo-frase {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}


.titulo {
    display: flex;
    justify-content: space-between;
    font-family: "Muara", system-ui;
    font-size: 80px;
    color:  rgb(229, 229, 229);
    text-shadow: 
    -4px -4px 0px rgb(0, 0, 0); 
   

    
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    padding: 5vh 70vh 0 20vh;
}

.frase {
    font-size: 40px;
    font-family: "Muara", system-ui;
    color: rgb(229, 229, 229);
    padding-top: 34vh;
    padding-left: 123vh;
    text-shadow: 
    -2px -2px 0px rgb(0, 0, 0); 

 
    
}
.historia {
    background-color:rgb(50, 128, 196);;
    font-size: 30px;
    border-radius: 25px;
    padding: 25px;
    font-family: "Afacad Flux", sans-serif;
    color: #ffffff;
}