<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/cadastro.css" />
  <script src="https://kit.fontawesome.com/88fed8b646.js" ></script>
  <title>Cadastro</title>

  <script src="./js/sessao.js"></script>

</head>

<body>

<div class="navbar">
    <a class="icon-voltar" href="./home.html"><i class="fa-solid fa-arrow-left"></i></a>
    <a class="logo"><span>Lana Space</span></a>
</div>
    </div>  
        <h1>Bem-vindo!</h1>
        <div class="formulario">
          <div class="campo">
            <span>Nome:</span>
            <input id="nome_input" type="text" placeholder="Seu nome" />
          </div>
          <div class="campo">
            <span>E-mail:</span>
            <input id="email_input" type="text" placeholder="exemplo@gmail.com" />
          </div>
          <div class="campo">
            <span>Senha:</span>
            <input id="senha_input" type="password" placeholder="******" />
          </div>
          <div class="campo">
            <span>Confirmação da Senha:</span>
            <input id="confirmacao_senha_input" type="password" placeholder="******" />
          </div>
          <button class="botao" onclick="cadastrar()">Cadastrar</button>
          <a href="./login.html" class="texto-link">Já possui uma conta? Fazer login</a>

    </body>
</html>