<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="themeStylesheet" rel="stylesheet" href="../css/home.css">
    <script src="../js/home.js"></script>
    <script src="https://kit.fontawesome.com/88fed8b646.js" crossorigin="anonymous"></script>
    <title>Lana Space</title>
</head>

<body>


    <div class="background">


        <div class="navbar">
            <div class="container1">
             
            <div class="select">
                <span> Tema:</span>
                <select id="slt_tema" onchange="trocarTema()">
                    <option value="../css/home.css">Padrão</option>
                    <option value="../css/btd.css">Born To Die</option>
                    <option value="../css/paradise.css">Paradise</option>
                    <option value="../css/ultravio.css">Ultraviolence</option>
                    <option value="../css/honeymoon.css">Honeymoon</option>
                    <option value="../css/lfl.css">Lust For Life</option>
                    <option value="../css/nfr.css">NFR!</option>
                    <option value="../css/cotcc.css">COTCC</option>
                    <option value="../css/blueb.css">Blue Banisters</option>
                    <option value="../css/dykttatuob.css">DYKTTATUOB</option>
                </select>
            </div>
            <span</span>
        </div>
               
            <div class="container">
                <a href="#queme">Quem é</a>
                <a href="#impacto">Impacto</a>
                <a href="#sobremim">Sobre mim</a>
                <a> Gráficos</a>
                <a href="./login.html"><i class="fa-solid fa-user-plus"></i></a>
            </div>
        </div>
        <div class="titulo-frase">
            <div class="titulo">
                <h1>Lana</h1>
                <h1>Space</h1>
            </div>
            <div class="frase">
                <span id="fraseEspecial">Heaven is a place on earth with you.</span>
            </div>

        </div>
    </div>


    <div class="historia-foto" id="queme">
        <div class="titulo-queme">
            <span>Quem é Lana Del Rey?</span>
        </div>
        <div class="historiatexto-foto">
            <div class="foto-historia"></div>
            <div class="historia">
                <span>Lana Del Rey, nome de artista de Elizabeth Woolridge Grant nascida em 21 de junho de 1985, é uma
                    cantora, compositora e
                    produtora musical americana. Ela ganhou destaque no início dos anos 2010 com seu estilo único, que
                    mistura influências de pop, indie, rock alternativo e música retrô, evocando uma atmosfera
                    nostálgica.</span>
            </div>
        </div>

    </div>

    <div class="carousel-tudo">
        <div class="carousel foto1"></div>
        <div class="carousel foto2"></div>
        <div class="carousel foto3"></div>
    </div>

    <div class="onu" id="impacto">
        <div class="titulo-impacto">
            <span>Impacto na sociedade</span>
        </div>
        <div class="onu-texto-foto">
            <div class="onu-fotos">
                <img src="../img/onu1.png">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem soluta aspernatur magnam, iusto voluptatibus reprehenderit magni quo autem delectus cumque tenetur saepe unde. Culpa dicta esse voluptates sapiente odio ipsam!</span>
                <img src="../img/onu2.png">
                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae sit minima repudiandae at illum id, voluptate quod similique dolorem tenetur adipisci ad aperiam necessitatibus eos odit nihil unde, aut esse?</span>
            </div>
        </div>
    </div>

    <div class="historia-foto" id="sobremim">
        <div class="titulo-queme">
            <span>Sobre mim</span>
        </div>
        <div class="historiatexto-foto">
            <div class="historia">
                <span>Sou Amanda Pedroza, tenho 21 anos e sou estudante do 1º semestre de Ciência da Computação na SPTech School. Fã da Lana desde meus 13 anos, acompanho a evolução e tragetória da cantora ao longo da minha vida. Dedico esse projeto à ela e a todos os fãs que também tem um pouquinho da Lana no coração. 💞 </span>
            </div>
            <div> <img src="../img/2370875.jpg" alt="" width="500px"></div>
        </div>

    </div>

    <div class="footer">
        <div class="footer-texto">
            <span>Feito com amor por Amanda | SPTech School</span>
            <a href="https://github.com/amandampedroza"><i class="fa-brands fa-github"></i></a>
        </div>
         <i style="font-size: 18px;" class="fa-solid fa-heart"></i>
        
       
    </div>



</body>

</html>

