
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/kapakana');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 2%;
    background-image: url("../img/login.gif");
    background-position:initial; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-size: cover; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 

}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
   
}

.icon-voltar {
    color: #ffffff;
    font-size: 29px;
}

.logo {
    font-size: 35px;
    font-family: 'Great Vibes', cursive;
    color: #b47b3d
}

.titulo{
    font-family: "Great Vibes", cursive;
    color: white;
    font-size: 60px;
    margin-top: 7%;
    font-weight: bold;
    

}

.formulario{
    display: flex;
    flex-direction: column;
    color: #b47b3d;
    background-color: rgb(255, 255, 255, 0.7);
    justify-content: space-around;
    height: fit-content;
    width: 35%;
    border-radius: 25px;
    font-size: 20px;
    font-family: "Afacad Flux", sans-serif;
    padding: 2%;
    border: solid 2px #b47b3d;

}

.campo{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

input {
    height: 25px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    border: solid 2px #b47b3d;
}

.botao {
    width: 20%;
    border-radius: 7px;
    font-size: 20px;
    border: solid 2px #b47b3d;
    background-color: #b47b3d;
    color: white;
    margin-top: 5%;
    align-self: center;
    font-family: "Afacad Flux", sans-serif;
    cursor: pointer;
}

.botao:hover {
    background-color:#c59d73; 
    border: solid 2px #c59d73; 
}

.texto-link{
    margin-top: 2%;
    font-size: 20px;
    align-self: center;
    text-decoration: none;
    color: #b47b3d

}

a:hover{
    color:#c59d73; 
}

.alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #fff;
    color: #b47b3d;
    width: 230px;
    position: fixed;
    border-radius: 15px;
    border: #b47b3d 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
    font-family: "Afacad Flux", sans-serif;
  }

  .loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 100px;
    width: 50px;
  }

  #div_erros_login {
    display: none;
    color: red;
    align-self: center;

  }