
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.cdnfonts.com/css/kapakana');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
    font-family: 'Joanna';
    src: url('../fonts/MinhaFonte.otf') format('truetype');
}

body{
    margin: 0;
    padding: 0;
    background-color: #d8ceb3;
    
}

.background {
    background-image: url(../img/lana24.jpg);
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    background-size: cover; 
    background-color: aliceblue;
    width: 100%;
    height: 600px;

}

.select {
    color: rgb(0, 0, 0);
    font-family: "Afacad Flux", sans-serif; 
    font-size: 20px;
}

#slt_tema {
    border-radius: 10px;
    font-size: 15px;
    font-family: "Afacad Flux", sans-serif;  
    background-color: #9dc7cb;
    
}

.navbar {
    padding: 5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    font-family: "Afacad Flux", sans-serif;
    color: white ;
    width: 40%; 
    
    
}

.container a {
    text-decoration: none;
    color: white;
}

.container a:hover{
    color: rgb(255, 0, 0);
}


.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    font-family: "EB Garamond", serif;
    font-style: italic;
    font-size: 85px;
    color: rgb(255, 0, 0);
    margin-top: 25vh;
    width: 52%;
    margin-left: 50vh;
    
    
    
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.frase {
    font-size: 50px;
     font-family: "EB Garamond", serif;
    color: rgb(255, 0, 0);
    width: 30%;
    padding: 5px;
    margin-left: 75vh;
    font-weight: bold;
    
}


/* FIM BANNER */

/* INICIO CORPO*/

/* INICIO QUEM E*/


.historia-foto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    margin: 7vh;
    border-radius: 25px;    padding: 2vh 7vh 7vh 7vh;
    flex-direction: column;
}

.titulo-queme {
    font-size: 45px;
    padding-bottom: 2%;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 500;
    color:#ff0000;

}

.historiatexto-foto{
    display: flex;
    justify-content: space-between;

}


.historia {
    font-size: 35px;
    font-family: "Afacad Flux", sans-serif;
    width: 50%;
 
}


.foto-historia {
    background-image: url(../img/lana12.jpeg);
    background-size: cover;
    width: 600px;
    height: 400px;
    border-radius: 25px;
}

/* FIM QUEM E */

/* INICIO CARROSSEL*/

.carousel-tudo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}


.foto1 {
    background-image: url(../img/lanalfl2.jpg);
    background-size: cover;
    width: 400px;
    height: 400px;
    border-radius: 25px;
}

.foto2 {
    background-image: url(../img/lanalfl1.jpg);
    background-size: cover;
    width: 400px;
    height: 400px;
    border-radius: 25px;
}

.foto3 {
    background-image: url(../img/lanalfl4.jpg);
    background-size: cover;
    width: 400px;
    height: 400px;
    border-radius: 25px;
}

/* FIM CARROSSEL */

/*INICIO IMPACTO */

.onu {
    background-color: rgb(255, 255, 255);
    margin: 7vh;
    border-radius: 25px; 
    font-family: "Afacad Flux", sans-serif;
    font-size: 30px;
    padding: 2vh 5vh 5vh 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titulo-impacto{
    font-size: 45px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 500;
    color:#ff0000;
}

.onu-texto-foto {
    display: flex;
    align-items: center;
    padding: 5vh 5vh 0 5vh;
    flex-direction: column;
    
}


.onu-fotos {
    display: flex;
    font-size: 22px;
    align-items: center;
    margin-right: 2%;

}

.onu-fotos img{
    width: 140px;
    height: 140px;
    margin: 2%;
}

/* FIM IMPACTO */

/* COMEÇO FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #02646a;
    padding: 1%;
    font-size: 25px;
    font-family:  "Afacad Flux", sans-serif; 
    color: #ffffff;
}

.footer a {
    text-decoration: none;
    margin-left: 5px;
    color: #ffffff;
}

.footer a:hover{
    color: black;
}

/*FIM DO FOOTER*/

/* FIM CORPO */